deploy.pyc
deploy.py
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
*.rdb
*.log
*.log.*
*.gz
*apidocs/
*.versionsBackup
*.perm
flyway.properties
application.yml
_book/
site/
*.cache
dubbo-resolve.properties
